---
import '../styles/global.css';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import Head from '../components/Head.astro';
---

<!DOCTYPE html>
<html lang="en">
  <Head/>
  <body>
    <Nav/>
    <main>
      <div class="aboutcontainer">
        <div class="one">
          <article>
            <h2>Who is Olivia Dean?</h2>
            <p>
             Olivia Dean (born March 14, 1999) is a British R&B, pop, and soul singer-songwriter who has achieved global success with her recent album The Art of Loving and the chart-topping single "Man I Need". She has been nominated for a Grammy Award, the Mercury Prize, and multiple Brit Awards.
            </p>
          </article>
          </div>
          <div class="two">
          <img src="../public/images/olivia2.jpg " alt="Olivia Dean" />
        </div>
      </div>
      <Footer/>
    </main>
  </body>
</html>

