---
import '../styles/global.css';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import Head from '../components/Head.astro';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head/>
  </head>
  
  <body>
     <Nav/>
    <main>
      <div class="homecontainer">
        <div class="item1">
          <img src="../public/images/olivia.jpg" alt="Olivia Dean" />
        </div>
        <div class="item2">
          <a href="https://youtu.be/0eioXekU6rY?si=suqQ7raUBbjpqKLN"> Checkout Latest Album</a>
        </div>
      </div>
      <Footer/>
    </main>
  </body>
</html>

