---
import '../styles/global.css';
import Nav from '../components/nav.astro';
import Footer from '../components/Footer.astro';
import Head from '../components/Head.astro';
---

<!DOCTYPE html>
<html lang="en">
  <Head/>
  <body>
    <Nav/>
    <main>
      <div class="newscontainer">
        <div class="first">
        <h1>News</h1>
        <ul>
          <li><a href="/news/tour">2026 Tour information</a></li>
         <li><a href="/news/album">Latest Album</a></li>
          <li><a href="/news/interview">Interview</a></li>
        </ul>
        </div>
        </div>
      <Footer/>
    </main>
  </body>
</html>

