   <header>
   <div class="myheader">
        <h1><a href="/">OLIVIA DEAN </a></h1>
      </div>
      </header>
  <nav>
        <ul>
            <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/news">News/Tour</a></li>
          <li><a href="/playlist">Playlist</a></li>
        </ul>
        
</nav>